<header class="bg-white">
    <div class="row ps-lg-4 py-1 my-0" style="background-color:#0f167d">
        <div class="col-lg-4">
            <span class="title text-white ps-lg-5 fw-light"></span>
        </div>
        <div class="col-lg-8 text-white text-lg-end pe-lg-5">
            <a href="tel:+905336368126" class="text-white text-decoration-none d-inline-block"><i class="fa fa-phone"></i>+90 (533) 636 81 26</a>
            <a href="https://www.facebook.com" target="_blank" class="text-white d-inline-block ms-1"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/" target="_blank" class="text-white d-inline-block ms-1"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.linkedin.com/" target="_blank" class="text-white d-inline-block ms-1"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
    </div>
</header>