@{
}
@{
    ViewData["Title"] = "Cashout";
}
<!-- banner-section start -->
<section class="banner-section inner-pages blog-single-2 reviews">
    <div class="overlay">
        <div class="banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Cashout</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item"><a asp-controller="AnaSayfa" asp-action="Index">Anasayfa</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Cashout</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- FAQs In start -->
<section class="faqs-section">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-header text-center">
                        <h2 class="title">Cashout</h2>
@*                         <p> Cashout </p> *@
                    </div>
                </div>
            </div>
            <div class="row wrapper margin-o">
                <div class="col-lg-6 consume">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item ">
                            <h6 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne" aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    1- Bayi Panelinden Cashout Ekranına Gidilir
                                </button>
                            </h6>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Bayi paneline giriş yaptıktan sonra Muhasabe > Nakit Çekim Talebi ekranına gidilir.
                                    </p>
                                </div>
                            </div>
                            <img class="imgden" src="~/ui/assets/img/dealercashout11.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 salams">
                    <div class="stepsimg">
                        <img class="imgse" src="~/ui/assets/img/arrows.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row wrapper d-flex flex-row-reverse margin-o">
                <div class="col-lg-6">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item ">
                            <h6 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    2- çekim bildirimi talebi oluşturulur.
                                </button>
                            </h6>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Çekim talepleri kullanılabilir bakiye olan Çekilebilir Limit Tutarı kadar oluşturulabilir. Toplam Türk Lira Bakiyesi kullanılabilir bakiye + blokedeki bakiyeyi temsil eder.
                                        <br /><br /> Bayi nakit çekim talebi ekranından ilgili formu doldurarak <u>'Para Çek'</u> butonuna basarak sonraki aşamaya geçer.
                                    </p>
                                </div>
                            </div>
                            <img class="imgden" src="~/ui/assets/img/dealercashout2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 salams">
                    <div class="stepsimg rotates">
                        <img class="imgse" src="~/ui/assets/img/arrows.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row wrapper margin-o">
                <div class="col-lg-6">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item ">
                            <h6 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    3- Çekim bildirimi talebi form onayı
                                </button>
                            </h6>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        <u>'Para Çek'</u> butonuna bastıktan sonraki aşamada bayinin form bilgilerini kontrol ederek ve doğruluğunu teyit
                                        etmesi ve onaylaması beklenir. Bayi bilgilerin doğruluğunu teyit ettikten sonra <u>'Tamam'</u> butonuna basarak bildirimi Stilpay'e iletir.
                                    </p>
                                </div>
                            </div>
                            <img class="imgden" src="~/ui/assets/img/dealercashout33.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs In end -->