/** {
    box-sizing: border-box;
}
*/
.slider {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}

.slider-items-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    transition: transform 0.35s ease-in-out;
}

.slider-items-container img {
    width: 100vw;
    max-width: 640px;
    display: block;
}

.controls {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
}

.controls a {
    color: #333;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}

.controls a:hover {
    color: #888;
}

.dots {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #333;
    transition: 0.15s ease-in-out;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 20px;
}

.dot.active {
    background: #888;
}
