@{

}

@section css{
    <link rel="stylesheet" href="~/areas/panel/css/dataTables/dataTables-bootstrap5.css" />
}

<div class="card mt-2 border-1 border-custom">
    <div class="card-header bg-custom text-white">Faturalarım</div>
    <div class="card-body">
        <table id="Table" class="table table-bordered table-hover">
            <thead>
                <tr class="bg-custom text-white">
                    <th class="col-2 text-center">Fatura Tarihi</th>
                    <th class="col-2 text-center">Fatura Numarası</th>
                    <th class="col-4 text-center">Fatura Ünvanı</th>
                    <th class="col-2 text-center">Fatura Tutarı</th>
                    <th class="col-1 text-center">Rapor</th>
                    <th class="col-1 text-center">İndir</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
                <tr>
                    <td class="col-2 text-center">05.07.2022</td>
                    <td class="col-2 text-center">VTN1212121212</td>
                    <td class="col-4 text-center">VTN BİLİŞİM HİZMETLERİ LTD</td>
                    <td class="col-1 text-center">2793,50</td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">Rapor İndir</a></td>
                    <td class="col-1 text-center"><a href="javascript:void(0);">İndir</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section js{
    <script src="~/areas/panel/js/dataTables/dataTable-jquery.js"></script>
    <script src="~/areas/panel/js/dataTables/dataTable-bootstrap5.js"></script>

    <script>
        $(document).ready(function () {
            Table.init();
        });

        var Table = function () {

            var initTable = function () {

                var table = $('#Table');

                var otable = table.dataTable({

                    "language": {
                        "aria": {
                            "sortAscending": ": artan sütun sıralamasını aktifleştir",
                            "sortDescending": ": azalan sütun sıralamasını aktifleştir"
                        },
                        "emptyTable": "Tabloda herhangi bir veri mevcut değil",
                        "info": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                        "infoEmpty": "Kayıt yok",
                        "infoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                        "infoThousands": ".",
                        "lengthMenu": "Sayfada _MENU_ kayıt göster",
                        "loadingRecords": "Yükleniyor...",
                        "processing": "İşleniyor...",
                        "search": "Ara:",
                        "zeroRecords": "Eşleşen kayıt bulunamadı",
                        "paginate": {
                            "first": "İlk",
                            "last": "Son",
                            "next": "Sonraki",
                            "previous": "Önceki"
                        },
                    },

                    "fnCreatedRow": function (nRow, aData, iDataIndex) {
                        //nRow.setAttribute("id", "tr_" + aData[3]);
                    },

                    "columnDefs": [
                        //{
                        //    "searchable": false,
                        //    "targets": [0, 3]
                        //}
                    ],

                    "order": [
                        [0, "asc"]
                    ],

                    "lengthMenu": [
                        [15, 25, 50, 100, -1],
                        [15, 25, 50, 100, "Tümü"]
                    ],

                    "columns": [
                        {
                            "orderable": true
                        },
                        {
                            "orderable": true
                        },
                        {
                            "orderable": true
                        },
                        {
                            "orderable": true
                        },
                        {
                            "orderable": true
                        },
                        {
                            "orderable": true
                        }
                    ]
                });

                var tableWrapper = $('#Table_wrapper');
                tableWrapper.find('.dataTables_length select').select2({
                    minimumResultsForSearch: Infinity,
                });
            }

            var initData = function () {
                showLoading();

                $.get('/city/gets', function (list) {
                    var otbl = $('#Table').DataTable();
                    if (list)
                        $.each(list, function (i, item) {
                            otbl.rows.add([[initBtnOperations(item.id), item.name, item.statusFlag ? 'Active' : 'Pasive', item.id]]);
                        })
                    otbl.draw();
                }).fail(function () {
                    onFailure();
                }).always(function () {
                    hideLoading();
                });
            }

            return {
                init: function () {
                    if (!jQuery().dataTable) {
                        return;
                    }
                    initTable();
                    //initData();
                }
            };

        }();

    </script>
}