@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>StilPay | Ödeme Bildrimi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/areas/panel/css/views/paymentnotification/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon">
</head>

<body>

    <div class="parrot">
        <div class="mainbox">
            <div class="allows">
                <div class="progress" id="progress"></div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-1"></i></div>
                    <div class="baba">Giriş Yap</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-2"></i></div>
                    <div class="baba">Mağaza</div>
                </div>
                <div class="ana">
                    <div class="circle"><i class="fa-regular fa-3"></i></div>
                    <div class="baba">Ürün Seçimi</div>
                </div>
                <div class="ana">
                    <div class="circle"><i class="fa-regular fa-4"></i></div>
                    <div class="baba">Ödeme</div>
                </div>
            </div>

            <div class="deneme">
                <!---------------STEP 1 START------------------>
                <div class="slidercont" id="step1">
                    <div class="arrive">
                        <p class="bold">Mağaza Seçin</p>
                    </div>


                    <div class="boxbank">
                        <div class="menu2step" style="width:unset; margin-top:2rem; margin-bottom:2rem;">
                            <h3 class="" style="text-align:center !important;">Seçmek İstediğiniz Mağazaya Tıklayarak Sonraki Adıma Geçebilirsiniz</h3>
                        </div>
                    </div>

                    <div class="boxbank">
                        <a asp-action="ChoosingProduct" asp-controller="Product" class="hovers" data-value="2">
                            <div class="boxes">
                                <div class="text2"><img src="https://www.vatangame.com/public/vatangame-ikinci-yil.png?aaaaaa" alt="bank" style="width:100% !important; height:100% !important"></div>
                            </div>
                        </a>
                    </div>
                    <div class="box">
                        <img src="~/areas/panel/img/paymentnotification/3D.png" alt="">
                        <div class="line-2"></div>
                        <hr>
                        <img src="~/areas/panel/img/paymentnotification/366-3669285_secure-ssl-encryption-logo-png-transparent-png.png" alt="">
                        <div class="line-2"></div>
                        <img src="~/areas/panel/img/paymentnotification/Stilpay1.png" alt="">
                    </div>
                </div>
                <!---------------STEP 1 END------------------>
                
            </div>




            <div class="boxfooter">
                <div class="boxlast">
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/4.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/13.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/8.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/10.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/6.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/9.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/7.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/5.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/14.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/animation.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/app.js"></script>
</body>

</html>
