<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stilpay - Yeni Nesil Dijital Pazaryeri Platformu</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />
    <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/ui/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ui/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/nice-select.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/slick.css" />
    <link rel="stylesheet" href="~/ui/assets/css/custom-family.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/magnific-popup.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/animate.css" />
    <link rel="stylesheet" href="~/ui/assets/css/style.css" />
    <!--   @RenderSection("Styles",false) -->

</head>
<body>
    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->
    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- Scroll To Top End -->
    @await Component.InvokeAsync("Header")

    @RenderBody()

    <!-- Footer Area Start -->
    <footer class="footer-section inner">
        <div class="overlay">
            <div class="container">
                <div class="row wrapper pt-120 pb-120">
                    <div class="col-lg-4 col-md-6">
                        <div class="single-area">
                            <h5 class="color">Hakkımızda</h5>
                            <ul class="items">
                                <li><a asp-controller="Hakkimizda" asp-action="Index">Biz Kimiz ?</a></li>
                                <li><a asp-controller="Blog" asp-action="Index">Haberler</a></li>
                                <li><a href="#">Projeler</a></li>
                                <li><a href="#">Sertifikalar</a></li>
                                <li><a asp-controller="Blog" asp-action="Index">Basında biz</a></li>
                                <li><a href="#">Kariyer</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-area">
                            <h5 class="color">Destek</h5>
                            <ul class="items">
                                <li><a asp-controller="Iletisim" asp-action="Index">Destek Talebi</a></li>
                                <li><a asp-controller="Sozlesmeler" asp-action="Index">Sertifikalar</a></li>
                                <li>
                                    <a asp-controller="Iletisim" asp-action="Index" asp-fragment="question">Sıkıça Sorulan Sorular</a>
                                </li>
                                @* <li><a href="#">Geliştiriciler</a></li> *@
                                <li><a asp-controller="Sozlesmeler" asp-action="Index">Sözleşmeler</a></li>
                                @* <li><a asp-controller="Sozlesmeler" asp-action="Index">Gizlilik</a></li> *@
                                <li><a asp-controller="Sozlesmeler" asp-action="Index">Aydınlatma Metni</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="single-area">
                            <h5 class="color">Bize Ulaşın</h5>
                            <ul class="items">
                                <li>
                                    <h6 class="textbold color">Operasyon Merkez</h6>
                                    <p class="textlittle color3">
                                        Hacı Ali Bey, Gürdal Abacı Plaza, Sakarya-1 Cd. No: 50 İç Kapı No:24
                                        Tepebaşı / Eskişehir
                                    </p>
                                </li>

                                <li>
                                    <h6 class="textbold color">Telefon Danışma Hattı</h6>
                                    <p class="textlittle color3">0533 636 81 26</p>
                                </li>
                                <li>
                                    <h6 class="textbold color">Whatsapp Danışma Hattı</h6>
                                    <p class="textlittle color3">0533 636 81 26</p>
                                </li>
                                <li>
                                    <h6 class="textbold color">Resmi E-Mail Adresi</h6>
                                    <p class="textlittle color3">info@stilpay.com</p>
                                </li>
                                <li>
                                    <h6 class="textbold color">Çalışma Saatleri</h6>
                                    <p class="textlittle nonemargin-s color3">
                                        Hafta İçi: 10.00 - 18.00
                                    </p>
                                    <p class="textlittle nonemargin-s color3">
                                        Cumartesi: 10.00 - 18.00
                                    </p>
                                    <p class="textlittle nonemargin-s color3">Pazar Kapalı</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

@*                 <div class="row mb-4">
                    <span class="col-md-3 text-white" style="font-size: small;">
                        Stilpay, Lidio Ödeme Hizmetleri Anonim Şirketi (“Lidio”) ile arasındaki temsilcilik sözleşmesi doğrultusunda; 6493 sayılı Ödeme ve Menkul Kıymet Mutabakat Sistemleri, Ödeme Hizmetleri ve Elektronik Para Kuruluşları Hakkında Kanun (“Kanun”) kapsamında Türkiye Cumhuriyet Merkez Bankası A.Ş. nezdinde lisanslı bir ödeme kuruluşu olan Lidio’nun temsilcisi sıfatıyla faaliyet göstermektedir.
                    </span>

                    <div class="col-md-9">
                        <img src="~/ui/assets/img/LIDIO_ODEME_HIZMETLERI_AS_FOOTER.webp" alt="icon" />
                    </div>
                </div> *@
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="main-content">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-8 cus-order d-flex justify-content-md-start justify-content-center">
                            <div class="left-area">
                                <p class="mdr color3">
                                    STILPAY © 2022. Tüm Hakları Saklıdır.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 d-flex justify-content-md-end justify-content-center">
                            <div class="right-area">
                                <div class="social">
                                    <ul class="d-flex">
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="~/ui/assets/img/facebook.png" alt="icon" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="~/ui/assets/img/twitter.png" alt="icon" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="~/ui/assets/img/instagram.png" alt="icon" />
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)">
                                                <img src="~/ui/assets/img/linkedin.png" alt="icon" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->
    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/ui/assets/js/jquery.min.js"></script>
    <script src="~/ui/assets/js/proper-min.js"></script>
    <script src="~/ui/assets/js/bootstrap.min.js"></script>
    <script src="~/ui/assets/js/fontawesome.js"></script>
    <script src="~/ui/assets/js/plugin/slick.js"></script>
    <script src="~/ui/assets/js/plugin/jquery.magnific-popup.min.js"></script>
    <script src="~/ui/assets/js/plugin/apexcharts.min.js"></script>
    <script src="~/ui/assets/js/plugin/jquery.nice-select.min.js"></script>
    <script src="~/ui/assets/js/plugin/wow.min.js"></script>
    <script src="~/ui/assets/js/plugin/plugin.js"></script>
    <script src="~/ui/assets/js/main.js"></script>

    <!-- @RenderSection("Scripts", required: false) -->  
</body>
</html>