<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BuraTeknoloji</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />
@*     <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon" /> *@
    <link rel="stylesheet" href="~/ui/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/ui/assets/css/fontawesome.min.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/nice-select.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/slick.css" />
    <link rel="stylesheet" href="~/ui/assets/css/custom-family.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/magnific-popup.css" />
    <link rel="stylesheet" href="~/ui/assets/css/plugin/animate.css" />
    <link rel="stylesheet" href="~/ui/assets/css/style.css" />
    <!--   @RenderSection("Styles",false) -->

</head>
<body>
    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->
    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop">
        <i class="fas fa-angle-double-up"></i>
    </a>
    <!-- Scroll To Top End -->
    @await Component.InvokeAsync("Header")

    @RenderBody()

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js" integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/ui/assets/js/jquery.min.js"></script>
    <script src="~/ui/assets/js/proper-min.js"></script>
    <script src="~/ui/assets/js/bootstrap.min.js"></script>
    <script src="~/ui/assets/js/fontawesome.js"></script>
    <script src="~/ui/assets/js/plugin/slick.js"></script>
    <script src="~/ui/assets/js/plugin/jquery.magnific-popup.min.js"></script>
    <script src="~/ui/assets/js/plugin/apexcharts.min.js"></script>
    <script src="~/ui/assets/js/plugin/jquery.nice-select.min.js"></script>
    <script src="~/ui/assets/js/plugin/wow.min.js"></script>
    <script src="~/ui/assets/js/plugin/plugin.js"></script>
    <script src="~/ui/assets/js/main.js"></script>

    <!-- @RenderSection("Scripts", required: false) -->  
</body>
</html>