@{
    ViewData["Title"] = "Anasayfa";
}


<head>
    <meta charset="UTF-8">
    <link href="~/ui/assets/css/plugin/slider.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" rel="stylesheet" />

</head>

@* 
<section class="banner-section index-11">
    <div class="overlay">
        <div class="main-content" style="text-align:center; font-size: 36px;">
            @* <p style="padding: 0 !important"> Stilpay Lidio ve EsnekPos İştirakidir. </p> *@
        </div>
        <div class="banner-wrap container">
            <div class="banner-slider">

               
                    <div class="banner-slide">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="container" style="margin-left:40px">
                                    <div class="hero-content">
                                        <h1 class="color">
                                            BURATEKNOLOJI YAKINDA HİZMETİNİZDE
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</section>

<script type="text/javascript" src="~/areas/panel/js/jquery/jquery.js"></script>
<script src="~/ui/assets/js/plugin/slick.js"></script>