@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stilpay - Yeni Nesil Dijital Pazaryeri Platformu</title>

    <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="~/ui/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/ui/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/ui/assets/css/plugin/nice-select.css">
    <link rel="stylesheet" href="~/ui/assets/css/plugin/slick.css">
    <link rel="stylesheet" href="~/ui/assets/css/custom-family.css">
    <link rel="stylesheet" href="~/ui/assets/css/plugin/magnific-popup.css">
    <link rel="stylesheet" href="~/ui/assets/css/plugin/animate.css">
    <link rel="stylesheet" href="~/ui/assets/css/style.css">
</head>

<body>
    <!-- start preloader -->
    <div class="preloader" id="preloader"></div>
    <!-- end preloader -->
    <!-- Scroll To Top Start-->
    <a href="javascript:void(0)" class="scrollToTop"><i class="fas fa-angle-double-up"></i></a>
    <!-- Scroll To Top End -->
    <!-- Login Reg In start -->
    <section class="log-reg login-2">
        <div class="overlay">
            <div class="container">
                <div class="top-head-area">
                    <div class="row d-flex align-items-center">
                        <div class="col-sm-5 col">
                            <a class="back-home" asp-controller="Anasayfa" asp-action="Index">
                                <img src="~/ui/assets/img/left-icon.png" alt="image">
                                Anasayfa' ya geri dön
                            </a>
                        </div>
                        <div class="col-sm-5 col">
                            <a asp-controller="Anasayfa" asp-action="Index">
                                <img src="~/ui/assets/img/logo.png" alt="image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-6 col-md-7 z-1 text-center d-flex justify-content-center pb-120">
                        <div class="form-box">
                            <h4>MAĞAZA GİRİŞİ</h4>
                            <p class="dont-acc">Mağazaya başvuru yapmadınız mı? <a asp-controller="KurumsalBasvuru" asp-action="Index">Hemen Başvur</a></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
@*                                 <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="personal-tab" data-bs-toggle="tab"
                                            data-bs-target="#personal" type="button" role="tab" aria-controls="personal"
                                            aria-selected="true">
                                        Bireysel
                                    </button>
                                </li> *@
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="business-tab" data-bs-toggle="tab" data-bs-target="#business"
                                            type="button" role="tab" aria-controls="business"
                                            aria-selected="true">
                                        Kurumsal
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
@*                                 <div class="tab-pane fade show active" id="personal" role="tabpanel" aria-labelledby="personal-tab">

                                    <div class="continue"><p>Bireysel Giriş</p></div>
                                    <iframe src="/panel/login/frame" class="" style="width:100%; height: 40vh;"></iframe>
                                </div> *@
                                <div class="tab-pane fade show active" id="business" role="tabpanel" aria-labelledby="business-tab">
                                    <div class="continue"><p>Kurumsal Giriş</p></div>
                                      <iframe src="https://bayi.stilpay.com/login/frame" style="width:100%; height: 51vh;"></iframe>
                                      @* <iframe src="http://localhost:26653/login/frame" style="width:100%; height: 51vh;"></iframe>  *@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Reg In end -->

    <script src="~/ui/assets/js/jquery.min.js"></script>
    <script src="~/ui/assets/js/proper-min.js"></script>
    <script src="~/ui/assets/js/bootstrap.min.js"></script>
    <script src="~/ui/assets/js/fontawesome.js"></script>
    <script src="~/ui/assets/js/plugin/slick.js"></script>
    <script src="~/ui/assets/js/plugin/jquery.magnific-popup.min.js"></script>
    <script src="~/ui/assets/js/plugin/apexcharts.min.js"></script>
    <script src="~/ui/assets/js/plugin/jquery.nice-select.min.js"></script>
    <script src="~/ui/assets/js/plugin/jquery.countdown.js"></script>
    <script src="~/ui/assets/js/plugin/wow.min.js"></script>
    <script src="~/ui/assets/js/plugin/plugin.js"></script>
    <script src="~/ui/assets/js/main.js"></script>
</body>

</html>
