@model EditViewModel<CompanyRebateRequest>

@{
    ViewData["Title"] = "Üye İşyeri İade Detayı";
}

@section css{
    <link rel="stylesheet" href="~/css/select2/select2.css" />
    <link rel="stylesheet" href="~/css/datatables/dataTables-bootstrap5.css" />
    <link rel="stylesheet" href="~/css/jquery/jquery-ui.css" />
}

<div class="row mt-2">
    <div class="col-lg-6 offset-lg-3">

        <div class="card border-custom bg-white">
            <div class="card-header bg-white text-custom text-center fw-bold">Üye İşyeri İade Talebi</div>
            <div class="card-body">

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">İşlem Tarihi :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.CDate" asp-format="{0:dd.MM.yyyy HH:mm:ss}" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">İşlem Numarası :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.TransactionNr" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Üye İşyeri :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.Company" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Üye İşyeri Telefon :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.Phone" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Bireysel Üye :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.Member" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Üye Telefon :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.MemberPhone" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Banka :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.Bank" readonly="readonly" />
                    </div>
                </div>


                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Gönderici Adı :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.SenderName" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">IBAN :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.Iban" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Gönderim Tarihi :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.ActionDate" asp-format="{0:dd.MM.yyyy}" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Gönderim Saati :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.ActionTime" readonly="readonly" />
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Gönderim Tutarı :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.Amount" readonly="readonly" />
                    </div>
                </div>

@*                 <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Parçalı İade Mi ?</label>
                    </div>
                    <div class="col-lg-9">
                        @if (Model.entity.IsPartialRebate)
                        {
                            <input type="text" class="form-control" value="EVET" readonly="readonly" />
                        }
                        else
                        {
                            <input type="text" class="form-control" value="HAYIR" readonly="readonly" />
                        }
                    </div>
                </div> *@

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">İşlem Durumu :</label>
                    </div>
                    <div class="col-lg-9">
                        @if (Model.entity.Status == 2)
                        {
                            <input type="text" class="form-control fw-bold text-success" asp-for="entity.Status" value="ONAYLANDI" readonly="readonly" />
                        }
                        else if (Model.entity.Status == 3)
                        {
                            <input type="text" class="form-control fw-bold text-danger" asp-for="entity.Status" value="İPTAL EDİLDİ" readonly="readonly" />
                        }
                        else if (Model.entity.Status == 8)
                        {
                            <input type="text" class="form-control fw-bold text-info" asp-for="entity.Status" value="İŞLEME ALINDI" readonly="readonly" />
                        }
                        else
                        {
                            <input type="text" class="form-control fw-bold text-info" asp-for="entity.Status" value="BEKLİYOR" readonly="readonly" />
                        }
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Açıklama :</label>
                    </div>
                    <div class="col-lg-9">
                        <textarea class="form-control" asp-for="entity.Description" rows="3" readonly="readonly"></textarea>
                    </div>
                </div>

                <div class="row border-bottom">
                    <div class="col-lg-3">
                        <label class="form-label">Yetkili Admin :</label>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" class="form-control" asp-for="entity.Modifier" readonly="readonly" />
                    </div>
                </div>

                <div class="row mt-4" style="justify-content:end">
                    <div class="col-lg-3">
                        <div class="d-grid">
                            <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#mdlCallback" id="callbackBtn">Callback Detayı</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal Callback -->
<div class="modal fade" id="mdlCallback" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header d-flex bg-dark text-white">
                <h5 class="modal-title text-center w-100">İşleme Ait Callback Bilgileri</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <input type="hidden" id="transactionID" asp-for="entity.TransactionID" />

            <div class="row mt-2">
                <div class="col-lg-12">

                    <div class="card border-1 border-custom">
                        <div class="card-header bg-custom text-white">İşleme Ait Callback Bilgileri</div>
                        <div class="card-body table-responsive">
                            <table id="Table" class="table table-bordered table-hover">
                                <thead>
                                    <tr class="bg-custom text-white">
                                        <th class="col-1 text-center">Callback Tarihi</th>
                                        <th class="col-3 text-center">Üye İşyeri</th>
                                        <th class="col-1 text-center">Servis Tipi</th>
                                        <th class="col-1 text-center">İşlem Numarası</th>
                                        <th class="col-1 text-end">İşlem Tipi</th>
                                        <th class="col-1 text-end">Response Status</th>
                                        <th class="col-1 text-center">Callback</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section js{
    <script src="~/js/mask/imask.js"></script>
    <script src="~/js/select2/select2.js"></script>
    <script src="~/js/datatables/dataTables-jquery.js"></script>
    <script src="~/js/datatables/dataTables-bootstrap5.js"></script>
    <script src="~/js/views/dealerrebatetransaction/edit.js"></script>
}