@model EditViewModel<Member>

@{
    ViewData["Title"] = "Profilim";
}

<div class="row mt-2">
    <div class="col-lg-6 offset-lg-3">

        <div class="alert alert-danger text-dark text-center">
            <span>Lütfen profil bilgilerinizi doğru ve eksiksiz bir şekilde tamamlayınız.</span>
        </div>

    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-6 offset-lg-3">

        <div class="card border bg-white">
            <div class="card-header bg-white">
                <h5 class="text-custom text-center fw-bold">PROFİLİM</h5>
            </div>
            <div class="card-body">

                <form id="frmDef" method="post" asp-antiforgery="true" asp-action="register"
                      data-ajax="true" data-ajax-method="POST"
                      data-ajax-begin="onBegin" data-ajax-failure="onFailure"
                      data-ajax-success="onSuccess" data-ajax-complete="onComplete">

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>Telefon No&nbsp;:</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="entity.Phone" maxlength="11" readonly="readonly" />
                        </div>
                    </div>

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>T.C. Kimlik&nbsp;:</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="entity.IdentityNr" maxlength="11" />
                        </div>
                    </div>

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>Ad Soyad&nbsp;:</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="entity.Name" maxlength="50" />
                        </div>
                    </div>

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>Email Adresi&nbsp;:</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="entity.Email" maxlength="50" />
                        </div>
                    </div>

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>Doğum Yılı&nbsp;:</label>
                        </div>
                        <div class="col-lg-9">
                            <input class="form-control" asp-for="entity.BirthYear" maxlength="4" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-3 offset-lg-9">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-custom"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Güncelle</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section js{
    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery-validate.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery-unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/views/register.index.js"></script>
}
