@{
    ViewData["Title"] = "İşlem Hareket Detayı";
}

<div class="row mt-2">
    <div class="col-lg-6 offset-lg-3">

        <div class="alert alert-warning text-dark text-center">
            <span>İşlem Hareket Detayı Bulunamadı..</span>
        </div>

    </div>
</div>
