@model MenuInformation
<!-- ***** Header Area End ***** -->
<!-- header-section start -->
<header class="header-section">
    <div class="overlay">
        <div class="container">
            <div class="row d-flex header-area">
                <nav class="navbar d-flex navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" asp-controller="Anasayfa" asp-action="index">
                        <img src="~/ui/assets/img/logo.png" class="logo" alt="logo" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown"
                            aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end"
                         id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="javascript:void(0)"
                                   role="button"
                                   data-bs-toggle="dropdown">
                                    Çözümler
                                </a>
                                <ul class="dropdown-menu show">
                                    <li>
                                        <a class="nav-item" asp-controller="Urunler" asp-action="Index">Havale / Eft</a>
                                        <a class="nav-item" asp-controller="Urunler" asp-action="CreditCard">Sanal Pos</a>
                                        <a class="nav-item" asp-controller="Urunler" asp-action="Cashout">Cashout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Blog" asp-action="Index">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Entegrasyon" asp-action="Index" target="_blank">Entegrasyon</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="IsOrtaklarimiz" asp-action="Index"
                                   style="width: max-content">
                                    İş Ortaklarımız
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   asp-controller="UyeIsyerlerimiz" asp-action="Index"
                                   style="width: max-content">
                                    Üye İşyerlerimiz
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Product" asp-action="Index"> Alışveriş </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Hakkimizda" asp-action="Index"> Hakkımızda </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Iletisim" asp-action="Index"> İletişim </a>
                            </li>
                        </ul>
                        <div class="right-area header-action d-flex align-items-center">
                            @if (!string.IsNullOrEmpty(Model.LoginType) && (Model.LoginType.Equals("Member") || Model.LoginType.Equals("Register")))
                            {
                                <a asp-area="Panel" asp-controller="Master" asp-action="Index" class="cmn-btn login">Hesabım</a>
                            }
                            else
                            {
                                <a asp-controller="Giris" asp-action="Index" class="cmn-btn login">Mağaza Girişi</a>
                                <a asp-controller="KurumsalBasvuru" asp-action="Index" class="cmn-btn">Mağaza Başvurusu</a>
                            }
                        </div>
                        <div class="right-area header-action d-flex align-items-center" style="display:none !important">
                            @if (!string.IsNullOrEmpty(Model.LoginType) && (Model.LoginType.Equals("Member") || Model.LoginType.Equals("Register")))
                            {
                                <a asp-area="Panel" asp-controller="Master" asp-action="Index" class="cmn-btn login">Hesabım</a>
                            }
                            else
                            {
                                <a asp-controller="Giris" asp-action="Index" class="cmn-btn login">Mağaza Girişi</a>
                                <a asp-controller="KurumsalBasvuru" asp-action="Index" class="cmn-btn">Mağaza Başvurusu</a>
                            }
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- header-section end -->