@{
    ViewData["Title"] = "Üye İşyerlerimiz";
}


<!-- banner-section start -->
<section class="banner-section inner-pages about-us our-team">
    <div class="overlay">
        <div class="banner-content pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <div class="main-content">
                            <h1>Üye İşyerlerimiz</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item">
                                            <a asp-controller="AnaSayfa" asp-action="Index">Anasayfa</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            Üye İşyerlerimiz
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top-area">
                        <div class="row justify-content-center">
                            <div class="col-lg-10">
                                <img src="~/ui/assets/img/about-us-banner.png" alt="image" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Team Member In start -->
<section class="team-member">
    <div class="overlay pb-120">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8 d-flex justify-content-center">
                    <div class="section-header text-center">
                        <h2 class="title">STILPAY - Üye İşyerlerimiz</h2>
                        <p>
                            Tasarla-inşa et konusunda ön saflarda yer alsak ve uzmanlaşsak
                            da, bir dizi teslimat yöntemine çok aşinayız ve hedeflerinize
                            ulaşmanıza en iyi şekilde yardımcı olacak süreci
                            bulabileceğimizden eminiz.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar">
                @*                 <div class="col-lg-3 col-md-6">
                <div class="single-item">
                <img src="~/ui/assets/img/is-ortaklarimiz/is-bankasi.png"
                alt="icon" />
                </div>
                </div>
                <div class="col-lg-3 col-md-6">
                <div class="single-item">
                <img src="~/ui/assets/img/is-ortaklarimiz/Linkedin.png" alt="icon" />
                </div>
                </div> *@
                @*                 <div class="col-lg-3 col-md-6">
                <div class="single-item">
                <img src="~/ui/assets/img/is-ortaklarimiz/Papara.png" alt="icon" />
                </div>
                </div> *@
                <div class="col-lg-3 col-md-6">
                    <div class="single-item">
                        <a class="image-link" href="https://www.vatangame.com/bakiye-yukle" target="_blank" rel="noopener noreferrer">
                            <img src="~/ui/assets/img/is-ortaklarimiz/vatangame.png" alt="icon" style="height:118px"  />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-item">
                        <a class="image-link" href="https://www.joyalisveris.com/" target="_blank" rel="noopener noreferrer">
                            <img src="~/ui/assets/img/is-ortaklarimiz/joyalisverisdark.png" alt="icon" style="height:118px">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-item">
                        <a class="image-link" href="https://www.gametacir.com/" target="_blank" rel="noopener noreferrer">
                            <img src="~/ui/assets/img/is-ortaklarimiz/gametacirdark.png" alt="icon" style="height:118px">
                        </a>
                    </div>
                </div>
                @* <div class="col-lg-3 col-md-6">
                <div class="single-item">
                <img src="~/ui/assets/img/is-ortaklarimiz/vodafone.png" alt="icon" />
                </div>
                </div>
                <div class="col-lg-3 col-md-6">
                <div class="single-item">
                <img src="~/ui/assets/img/is-ortaklarimiz/wise.png" alt="icon" />
                </div>
                </div> *@
            </div>
        </div>
    </div>
</section>
<!-- Team Member In end -->
<!-- Growing Team In start -->
<!-- Growing Team In end -->