@model EditViewModel<Support>

@{
    ViewData["Title"] = "Destek Talebi";
}

@section css{
    <link rel="stylesheet" href="~/css/select2/select2.css" />
    <link rel="stylesheet" href="~/css/datatables/dataTables-bootstrap5.css" />
}

<div class="row mt-2">
    <div class="col-lg-12">

        <div class="card border-custom border bg-white">
            <div class="card-header bg-white text-custom text-center fw-bold">
                Destek Talebi
            </div>
            <div class="card-body">
                <div class="row">

                    <form asp-controller="Support" asp-action="Save" asp-antiforgery="true" id="frmDef"
                          data-ajax="true" data-ajax-method="POST"
                          data-ajax-begin="onBegin" data-ajax-failure="onFailure"
                          data-ajax-success="onSuccess" data-ajax-complete="onComplete">

                        @Html.HiddenFor(f=>f.entity.ID)
                        @Html.HiddenFor(f=>f.entity.IDCompany)
                        @Html.HiddenFor(f=>f.entity.IDMember)

                        <div class="row border-bottom mt-2">
                            <div class="col-lg-1">
                                <label class="form-label" asp-for="entity.Name">Adı :</label>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" asp-for="entity.Name" readonly="readonly" />
                            </div>
                            <div class="col-lg-1">
                                <label class="form-label" asp-for="entity.Phone">Telefon :</label>
                            </div>
                            <div class="col-lg-5">
                                <input type="text" class="form-control" asp-for="entity.Phone" readonly="readonly" />
                            </div>
                        </div>

                        <div class="row border-bottom mt-2">
                            <div class="col-lg-1">
                                <label for="text" class="form-label" asp-for="entity.Question">Mesaj :</label>
                            </div>
                            <div class="col-lg-11">
                                <div class="input-group">
                                    <textarea type="text" class="form-control" asp-for="entity.Question" rows="3" maxlength="250" readonly="readonly"></textarea>
                                </div>
                            </div>
                        </div>
                        @if (string.IsNullOrEmpty(Model.entity.Answer))
                        {
                            <div class="row border-bottom mt-2">
                                <div class="col-lg-1">
                                    <label for="text" class="form-label" asp-for="entity.Answer"><span style="color:red">* </span>Cevap :</label>
                                </div>
                                <div class="col-lg-11">
                                    <div class="input-group">
                                        <textarea type="text" class="form-control" asp-for="entity.Answer" rows="3" maxlength="250"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-lg-2 offset-lg-10">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-custom" id="btnSubmit"><i class="fa fa-paper-plane"></i>&nbsp;&nbsp;&nbsp;Gönder</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row border-bottom mt-2">
                                <div class="col-lg-1">
                                    <label for="text" class="form-label" asp-for="entity.Answer">Cevap :</label>
                                </div>
                                <div class="col-lg-11">
                                    <div class="input-group">
                                        <textarea type="text" class="form-control" asp-for="entity.Answer" rows="3" maxlength="250" readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-12">

        <div class="card border-1 border-custom">
            <div class="card-header bg-custom text-white">Geçmiş Destek Talepleri</div>
            <div class="card-body table-responsive">
                <table id="Table" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-custom text-white">
                            <th class="col-1 text-center">Tarih</th>
                            <th class="col-1 text-center">Soru | Cevap</th>
                            <th class="col-10 text-center">İçerik</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section js {
    <script type="text/javascript" src="~/js/jquery/jquery-validate.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/js/select2/select2.js"></script>
    <script type="text/javascript" src="~/js/datatables/dataTables-jquery.js"></script>
    <script type="text/javascript" src="~/js/datatables/dataTables-bootstrap5.js"></script>
    <script type="text/javascript" src="~/js/views/support/edit.js"></script>
}