
@{
    ViewData["Title"] = "Mail Gönder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model EditViewModelWithoutInterface<StilPay.Entities.Dto.SendMailDto>

@section css {
    <link rel="stylesheet" href="~/css/select2/select2.css" />
    <link rel="stylesheet" href="~/css/select2/select2-bootstrap-5-theme.css" />
    <link rel="stylesheet" href="~/css/datatables/dataTables-bootstrap5.css" />
    <link rel="stylesheet" href="~/css/jquery/jquery-ui.css" />
}

<div class="row mt-2">
    <div class=" col-lg-6 offset-lg-3">

        <div class="card border-custom bg-white">
            <div class="card-header bg-white text-custom text-center fw-bold">
                Mail İçerik
            </div>
            <div class="card-body">

                <form asp-controller="Mail" asp-action="SendMail" asp-antiforgery="true" 
                      data-ajax="true" data-ajax-method="POST"
                      data-ajax-begin="onBegin" data-ajax-failure="onFailure"
                      data-ajax-success="onSuccess" data-ajax-complete="onComplete">

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>Üye İşyeri :</label>
                        </div>
                        <div class="col-lg-9">
                            <select class="form-select select2" id="slcCompanies" multiple="multiple" asp-for="entity.IDCompanies"></select>
                        </div>
                    </div>

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>Başlık :</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" asp-for="entity.Title" maxlength="50">
                        </div>
                    </div>

                    <div class="row border-bottom mt-2">
                        <div class="col-lg-3">
                            <label class="form-label"><span style="color:red">* </span>İçerik :</label>
                        </div>
                        <div class="col-lg-9">
                            <textarea type="text" class="form-control" asp-for="entity.Body"></textarea>
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-lg-3 offset-lg-9">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-custom" id="btnSubmit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Gönder</button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>


@section js {
    <script type="text/javascript" src="~/js/jquery/jquery-validate.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-datepicker-tr.js"></script>
    <script src="~/js/datatables/dataTables-jquery.js"></script>
    <script src="~/js/datatables/dataTables-bootstrap5.js"></script>
    <script src="~/js/select2/select2.js"></script>
    <script src="~/js/views/mail/sendmail.js"></script>
}

