@{
    Layout = "_LayoutIntegration";
    ViewData["Title"] = "Çekim Talebi";
}


<div id="iframe-kullanimi">
    <h2 class="text-center">API - Nakit Çekim Talebi </h2>
    <p>StilPay Nakit Ödeme ve Banka Transfer hizmeti ile StilPay platformuna kabul edilen ödemelerin üye işyerine bildirimini sağlayan temel web hizmetleridir . Üye işyeri kendisine ait ödemeler ile ilgili tüm bilgilendirmeleri bu hizmetler üzerinden alır. Hizmetlerin bildirim yapacağı söz konusu URL entegrasyon sürecinde üye iş yeri tarafından StilPay'e bildirilir. </p>
    <p>Üye İşyeri ayarlar menüsünden kendisine özel Servis-ID ve Gizli-Anahtar ile işlemleri gerçekleştirir. iFrame çağrımına gerekmekte olan <strong>frame_id</strong> değerini, Api-Url'e Servis-ID, MD5 ile şifrelenmiş Gizli Anahtarı ve Data <small>(İşlem-ID, Ödeme-Tutarı)</small> değerlerini parametre geçerek post eder ve response olarak alır. Mevcut transaction değeri ile 50sn içinde frame çağrımını yapılmalıdır.</p>
    <div class="alert alert-secondary">

        <h5>Canlı Ortam URL Bilgileri</h5>
        <div class="url-content">
            <h6>&gt; Nakit Çekim Talebi (POST)</h6>
            &nbsp;&nbsp;&nbsp;&nbsp;https://servis.burateknoloji.com/api/Transfer/withdrawalrequest
        </div>

        <br />

        <h5>Test Ortam URL Bilgileri</h5>
        <div class="url-content">
            <h6>&gt; Nakit Çekim Talebi (POST)</h6>
            &nbsp;&nbsp;&nbsp;&nbsp;http://stilpaytest.stilpay.com/api/Transfer/withdrawalrequest
        </div>

    </div>
    <div class="alert alert-secondary">
        <h6>&gt; Nakit Çekim Talebi (POST)</h6>
        <br />

        <img src="/integration/img/postman-withdrawal-request.png" />
    </div>
    <pre><code>
    <b>REQUEST:</b>
        {
            "service_id" : "3748", // Size Bildirilen Sevice ID
            "ciphered"   :  "8989cf60419cf692190e5a814fb6c6f4",  // Size Bildirilen MD5 ile Şifrelenmiş Ciphered(Gizli Anahtar)
            "data"       : {
            "title"          : "Stilpay", // Alıcı Ad Soyad
            "iban"           : "TR32 0001 0015 4897 7360 4050 01", // Alıcı Iban Numarası 
            "amount"         : 10, // Tutar 
            "is_eft"         : true, // İşlem EFT ise 'true', FAST ise 'false'
            "request_nr"     :"Test1234" // Unique ID
            }
        }

    <b>RESPONSE - OK(200):</b>
        {
            "ResponseStatus": 1,
            "Status": "OK",
            "Message": null,
            "Data": {
                "request_nr": "Test1234"
            }
        }
    </code></pre>

    <div class="alert alert-secondary">
        <h6>&gt; Nakit Çekim Talebi (POST) Response</h6>
        <br />

        <p>Response olarak aldığınız değerlerde  <code>ResponseStatus = 1</code> ve <code> Status = "OK" </code> ise isteğiniz başarılı bir şekilde bize ulaşmış ve işleme alınmıştır.</p>

        Başarısız İşlem Örnek Response :

        <img src="/integration/img/postman-withdrawal-request-error.png" />
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr class="bg-secondary text-white">
                <th>Parametre</th>
                <th>Tip</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>service_id</td>
                <td>String - Zorunlu - Uzunluk(4)</td>
                <td>Üye İşyeri Servis ID</td>
            </tr>
            <tr>
                <td>ciphered</td>
                <td>String - Zorunlu </td>
                <td>MD5(Gizli Anahtar)</td>
            </tr>
            <tr>
                <td>title</td>
                <td>String - Zorunlu </td>
                <td>Alıcı Ad Soyad</td>
            </tr>
            <tr>
                <td>iban</td>
                <td>String - Zorunlu </td>
                <td>Alıcı Iban</td>
            </tr>
            <tr>
                <td>amount</td>
                <td>Decimal - Zorunlu </td>
                <td>Çekim Talebi Tutarı</td>
            </tr>
            <tr>
                <td>is_eft</td>
                <td>Boolean - Zorunlu</td>
                <td>İşlem EFT ise 'true', FAST ise 'false'</td>
            </tr>
            <tr>
                <td>request_nr</td>
                <td>String - Zorunlu</td>
                <td>İşlem ID</td>
            </tr>
        </tbody>
    </table>
</div>