@model PaymentRequestEditViewModel

@{
    ViewData["Title"] = "Ödeme Bildirimi Yap";
}

@section css {
    <link href="~/css/jquery/jquery-ui.css" rel="stylesheet" />

    <style>
        .bank {
            cursor: pointer !important;
        }

        .active-bank {
            border: 1px solid rgba(91,104,235,1) !important;
        }
    </style>
}

<div class="row mt-2">
    <div class="col-lg-8 offset-lg-2">

        <div class="card border bg-white">
            <div class="card-body">
                <div class="card border-0 bg-light">
                    <div class="card-header text-white bg-secondary mt-3 mx-4 text-center fw-bold">
                        Ödeme Bildirim Formu
                    </div>

                    <div class="card-body">
                        <form asp-controller="PaymentNotification" asp-action="Save" asp-antiforgery="true" id="frmDef"
                              data-ajax="true" data-ajax-method="POST"
                              data-ajax-begin="onBegin" data-ajax-failure="onFailure"
                              data-ajax-success="onSuccess" data-ajax-complete="onComplete">

                            <div class="row">
                                <div class="col-lg-12">
                                    <label class="text1">Ödeme Yapılan Banka</label>
                                    <select class="form-select text-black" id="selectBank" asp-for="entity.IDBank" asp-items="@(new SelectList(ViewBag.CompanyBanks, "IDBank", "Bank"))" style="color:black !important;">
                                        <option value="">Banka Seçiniz</option>
                                    </select>
                                    <input type="hidden" asp-for="entity.IDBank" />
                                </div>

                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-12">
                                    <label class="form-label m-0"><span style="color:red">* </span>Gönderen Adı-Soyadı</label>
                                    <input type="text" class="form-control" asp-for="entity.SenderName" maxlength="100">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-lg-8 pe-0">
                                    <label class="form-label m-0"><span style="color:red">* </span>Ödeme Tarih ve Saati</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control datepicker" style="text-transform: uppercase;" asp-for="entity.ActionDate">

                                        <input type="time" class="form-control timepicker" style="font-weight: bold;" asp-for="entity.ActionTime" asp-format="{0:HH:mm}" maxlength="5">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label class="form-label m-0"><span style="color:red">* </span>Ödeme Tutarı</label>
                                    <input type="text" class="form-control text-end" asp-for="entity.Amount"  id="entity_Amount" maxlength="10">
                                </div>
                            </div>

                            <div class="row mt-4 justify-content-center">
                                <div class="col-lg-4 text-center">
                                    <div class="d-grid">
                                        <button type="submit" class="btn btn-dark btn-block">Bildirim Yap</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section js {
    <script type="text/javascript" src="~/js/jquery/jquery-validate.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/js/mask/imask.js"></script>
    <script type="text/javascript" src="~/js/custom/numeric-format.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-timepicker.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/jquery/jquery-datepicker-tr.js"></script>
    <script type="text/javascript" src="~/js/views/paymentnotification/add.js"></script>

}