@{
    ViewData["Title"] = "İletişim";
}


<!-- banner-section start -->
<section class="banner-section inner-pages contact">
    <div class="overlay">
        <div class="banner-content pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-10">
                        <div class="main-content">
                            <h1>İLETİŞİM</h1>
                            <div class="breadcrumb-area">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb d-flex align-items-center">
                                        <li class="breadcrumb-item">
                                            <a asp-controller="AnaSayfa" asp-action="Index">Anasayfa</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">
                                            İletişim
                                        </li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bottom-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 cus-z">
                    <div class="row cus-mar">
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="top-area">
                                    <div class="icon-area">
                                        <img src="~/ui/assets/img/icon-contact/chat.png"
                                             alt="image" />
                                    </div>
                                    <h4 class="text-uppercase">Danışma Hattı</h4>
                                    <!-- <p>Mail-Telefon</p> -->
                                </div>
                                <div class="bottom-area d-flex align-items-center">
                                    <div class="icon-bottom">
                                        <img src="~/ui/assets/img/sms-icon.png" alt="image" />
                                    </div>
                                    <p>info@stilpay.com</p>
                                </div>
                                <div class="bottom-area d-flex align-items-center">
                                    <div class="icon-bottom">
                                        <img src="~/ui/assets/img/call-icon.png" alt="image" />
                                    </div>
                                    <p>(0533) 636 - 8126</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="top-area">
                                    <div class="icon-area">
                                        <img src="~/ui/assets/img/icon-contact/placeholder.png"
                                             alt="image" />
                                    </div>
                                    <h4 class="text-uppercase">ADRES</h4>
                                    <!-- <p>Bilemedim</p> -->
                                </div>
                                <div class="bottom-area offline">
                                    <div>
                                        Hacı Ali Bey, Gürdal Abacı Plaza, Sakarya-1 Cd. No: 50 No: 50 İç Kapı No:24, 26000
                                    </div>
                                    <div>Tepebaşı/Eskişehir</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-item text-center">
                                <div class="top-area">
                                    <div class="icon-area">
                                        <img src="~/ui/assets/img/icon-contact/clock.png"
                                             alt="image" />
                                    </div>
                                    <h4 class="text-uppercase">ÇALIŞMA SAATLERİ</h4>
                                    <!-- <p>Bilemedim</p> -->
                                </div>
                                <div class="bottom-area offline">
                                    <div>Pazartesi – Cuma (10.00 - 18.00)</div>
                                    <div>Cumartesi (10.00 - 18.00)</div>
                                    <div>Pazar Kapalı</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->
<!-- Contact Form In start -->
<section class="contact-form">
    <div class="overlay pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="section-header text-center">
                        <h2 class="title">STILPAY İLETİŞİM</h2>
                        <p>Eğer yardıma ihtiyacınız varsa ya da bir sorunuz varsa, sizin için buradayız!</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="form-area">
                        <form action="#">
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input type="text" placeholder="Ad-Soyad" />
                                        <img src="~/ui/assets/img/contact-user-icon.png"
                                             alt="image" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input type="email" placeholder="Email" />
                                        <img src="~/ui/assets/img/contact-email-icon.png"
                                             alt="image" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input type="text" placeholder="Telefon Numarası" />
                                        <img src="~/ui/assets/img/contact-phone-icon.png"
                                             alt="image" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="single-input d-flex align-items-center">
                                        <input type="text" placeholder="Konu" />
                                        <img src="~/ui/assets/img/contact-com-icon.png"
                                             alt="image" />
                                    </div>
                                </div>

                            </div>
                            <div class="single-input d-flex align-items-center">
                                <input type="text" placeholder="Size Nasıl Yardımcı Olabiliriz ?">
                            </div>
                            <div class="single-input d-flex align-items-center">
                                <textarea placeholder="Mesaj"
                                          cols="30"
                                          rows="10"></textarea>
                            </div>
                            <div class="btn-area text-center">
                                <button class="cmn-btn">Gönder</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Form In end -->
<!-- FAQs In start -->
@*<div class="row my-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3066.4361467843464!2d30.507055251432423!3d39.77476650225287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cc160c0a974549%3A0x71a46d3b5204387e!2zS8Sxcm3EsXrEsXRvcHJhaywgRmVyYWggU2suLCAyNjAxMCBPZHVucGF6YXLEsS9Fc2tpxZ9laGly!5e0!3m2!1str!2str!4v1657716540976!5m2!1str!2str" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>*@
<section class="faqs-section" id="question">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6 col-md-10">
                    <div class="section-header">
                        <div class="left">
                            <h2 class="title">Sıkça Sorulan Sorular</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wrapper">
                <div class="col-lg-12">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseOne"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseOne">
                                    STILPAY NEDİR ?
                                </button>
                            </h6>
                            <div id="flush-collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Stilpay, Türk ve yabancı iş ortaklarıyla beraber bireylerin elektronik ticarete daha hızlı, kolay ve güvenli şekilde giriş yapmasını sağlayan, finansal teknoloji geliştirici firmadır.
                                        Şirket misyonumuz gereği,dil ve lokasyon ayrımı olmaksızın e ticaret site sahipleri ve üreticilerinin elektronik ortamda saniyeler içerisinde ödeme almasına olanak sağlıyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    STILPAY İLE ÖDEME NASIL YAPILIR ?
                                </button>
                            </h6>
                            <div id="flush-collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingTwo"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        StillPay, işletmelerin ödeme sistemlerine kolayca entegre olmasını sağlayacak şekilde tasarlanmıştır. API entegrasyonu sayesinde, StillPay’i mevcut web sitelerine veya uygulamalarına entegre etmek kolaydır. Mobil Ödeme: StillPay, mobil cihazlar üzerinden de ödeme yapma imkanı sağlar. Bu özellik sayesinde müşteriler, akıllı telefonlarından kolayca ödeme yapabilirler. Esnek Ödeme Seçenekleri: StillPay, müşterilerin ihtiyaçlarına göre farklı ödeme seçenekleri sunar. Kredi kartı, banka kartı, banka transferi, PayPal ve diğer ödeme yöntemleri StillPay tarafından desteklenir. Hızlı Ödeme: StillPay, hızlı ödeme işlemleri sağlayarak müşterilerin ve işletmelerin zaman kaybetmeden ödeme yapmasına olanak tanır. StillPay’in ödeme sistemi, ödeme işlemlerini anında işleyerek işletmelerin nakit akışını hızlandırır.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree"
                                        aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    STILPAY İLE ÖDEME GÜVENLİ MİDİR ?
                                </button>
                            </h6>
                            <div id="flush-collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingThree"
                                 data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        StillPay, müşteri bilgilerini korumak için en son güvenlik teknolojilerini kullanır. Tüm ödeme işlemleri, SSL sertifikası ve 3D Secure teknolojisi gibi güvenlik protokolleri kullanılarak güvence altına alınır.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               @*  <div class="col-lg-6">
                    <div class="accordion accordion-flush" id="accordionSecond">
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="second-headingOne">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#second-collapseOne"
                                        aria-expanded="false"
                                        aria-controls="second-collapseOne">
                                    STILPAY ÖDEME NEDİR ?
                                </button>
                            </h6>
                            <div id="second-collapseOne"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="second-headingOne"
                                 data-bs-parent="#accordionSecond">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                                        posuere vel venenatis, eu sit massa. Volutpat massa
                                        rhoncus odio feugiat tellus elit massa sed ullamcorper a
                                        in.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="second-headingTwo">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#second-collapseTwo"
                                        aria-expanded="false"
                                        aria-controls="second-collapseTwo">
                                    STILPAY İLE ÖDEME NASIL YAPILIR ?
                                </button>
                            </h6>
                            <div id="second-collapseTwo"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="second-headingTwo"
                                 data-bs-parent="#accordionSecond">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                                        posuere vel venenatis, eu sit massa. Volutpat massa
                                        rhoncus odio feugiat tellus elit massa sed ullamcorper a
                                        in.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h6 class="accordion-header" id="second-headingThree">
                                <button class="accordion-button collapsed"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="#second-collapseThree"
                                        aria-expanded="false"
                                        aria-controls="second-collapseThree">
                                    STILPAY İLE ÖDEME GÜVENLİ MİDİR ?
                                </button>
                            </h6>
                            <div id="second-collapseThree"
                                 class="accordion-collapse collapse"
                                 aria-labelledby="second-headingThree"
                                 data-bs-parent="#accordionSecond">
                                <div class="accordion-body">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipiscing elit
                                        posuere vel venenatis, eu sit massa. Volutpat massa
                                        rhoncus odio feugiat tellus elit massa sed ullamcorper a
                                        in.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
</section>
<!-- FAQs In end -->