@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StilPay | Ödeme Bildirimi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/areas/panel/css/views/paymentnotification/style.css" rel="stylesheet" />
    <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon">
</head>

<body>

    <div class="parrot">
        <div class="mainbox">
            <div class="allows">
                <div class="progress" id="progress"></div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-1"></i></div>
                    <div class="baba">Ödeme<br> Yöntemi</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-2"></i></div>
                    <div class="baba">Ödeme <br>Bilgileri</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-3"></i></div>
                    <div class="baba">Ödeme <br>Özeti</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-4"></i></div>
                    <div class="baba">Sms<br>Doğrulama</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-5"></i></div>
                    <div class="baba">Üye<br>Profil</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-6"></i></div>
                    <div class="baba">İşlem <br>Bilgileri</div>
                </div>
            </div>

            <div class="deneme">
                <!---------------STEP 3 info START------------------>
                <div class="slidercont" id="stepfinal">

                    <div class="arrive2" style="background-color:red; margin-top:2rem; margin-bottom:2rem;">
                        <p class="bold">
                            İŞLEM BAŞARISIZ
                        </p>
                        <p style="font-size:1rem;">
                            - Mevcutta bekleyen bir bildiriminiz
                        </p>
                        <p style="font-size:1rem;">
                            -  Aynı İşlem numaralı bekleyen bir bildiriminiz
                        </p>
                        <p style="font-size:1rem;">
                            - İşleminizin zaman aşımına uğraması
                        </p>
                    </div>


                </div>
                <!---------------STEP 3 info END------------------>
            </div>

            <div class="boxfooter">
                <div class="boxlast">
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/4.png" />
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/13.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/8.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/10.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/9.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/7.png" alt="">
                    </div>


                    
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/14.webp" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/11.webp" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/12.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/15.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/animation.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/app.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/error.js"></script>
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</body>

</html>
