@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Transfer</title>

    <link rel="stylesheet" href="~/areas/panel/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="~/areas/panel/css/fontawesome/font-awesome.all.min.css" />
        <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon">

</head>

<body>

    <div class="card border-3 border-custom py-2">
        <div class="card-header bg-white">
            <img src="~/areas/panel/img/logo.png" alt="Stilpay Ödeme Sistemi" />
        </div>
        <div class="card-body">

            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="alert alert-danger fs-5">
                        <span>Merhaba,</span>
                        <br />
                        <span>Entegrasyon işlemleri için lütfen <a href="https://burateknoloji.com"><strong>bizi</strong></a> ziyaret ediniz.</span>
                        <br />
                        <span>İyi Günler.</span>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-12">
                    <a class="btn btn-custom float-end" href="/">Siteye Geri Dön</a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-12">
                    <strong class="fs-5">BİZİ TAKİP EDİN</strong> YENİLİK VE İNDİRİMLERDEN İLK SİZİN HABERİNİZ OLSUN.
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-12">
                    <div class="progress py-1 w-100">
                        <div class="progress-bar py-0 bg-danger" style="width:20%"></div>
                        <div class="progress-bar py-0 bg-warning" style="width:20%"></div>
                        <div class="progress-bar py-0 bg-info" style="width:20%"></div>
                        <div class="progress-bar py-0 bg-success" style="width:20%"></div>
                        <div class="progress-bar py-0 bg-custom" style="width:20%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/bootstrap/bootstrap-bundle.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/fontawesome/font-awesome.all.min.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/views/paymentnotification/notallowed.js?v.1.0"></script>
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        window.onpopstate = function () {
            history.go(1);
        };
    </script>
</body>
</html>