@model PaymentNotificationViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
    <title>Burateknoloji | Ödeme Bildirimi</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/areas/panel/css/views/paymentnotification/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/areas/panel/css/alertifyjs/alertify.css" />
    <link rel="stylesheet" href="~/areas/panel/css/alertifyjs/alertify-default.css" />
        <link rel="shortcut icon" href="~/ui/assets/img/fav.png" type="image/x-icon">
</head>

<body>

    <div class="parrot">
        <div class="mainbox">
            <div class="allows">
                <div class="progress" id="progress"></div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-1"></i></div>
                    <div class="baba">Ödeme<br> Yöntemi</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-2"></i></div>
                    <div class="baba">Ödeme <br>Bilgileri</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-3"></i></div>
                    <div class="baba">Ödeme <br>Özeti</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-4"></i></div>
                    <div class="baba">Sms<br>Doğrulama</div>
                </div>
                <div class="ana">
                    <div class="circle active"><i class="fa-regular fa-5"></i></div>
                    <div class="baba">Üye<br>Profil</div>
                </div>
                <div class="ana">
                    <div class="circle"><i class="fa-regular fa-6"></i></div>
                    <div class="baba">İşlem <br>Bilgileri</div>
                </div>
            </div>

            <div class="deneme">
                <!-------------- TELEFON ONAY START------------------>
                <div class="slidercont" id="eftstellonay">
                    <div class="topm">
                        <div class="infor">
                            <div class="st1">
                                <div class="text1">İŞLEM NUMARASI:</div>
                                <div class="text2">@Model.entity.TransactionID</div>
                            </div>
                            <div class="st1">
                                <div class="text1">TARİH:</div>
                                <div class="text2">@DateTime.Today.ToString("dd MMMM yyyy")</div>
                            </div>
                            <div class="st1">
                                <div class="text1">TOPLAM:</div>
                                <div class="text2">@(string.Concat(Model.entity.Amount.ToString("n2"), " ₺"))</div>
                            </div>
                            <div class="st1 none">
                                <div class="text1">ÖDEME YÖNTEMİ:</div>
                                <div class="text2">HAVALE / EFT</div>
                            </div>
                        </div>
                        <div class="parrots">
                            <p class="thins2" style="margin-top:1rem;margin-bottom:1rem;">@(string.Concat("İŞLEM NUMARANIZ #", Model.entity.TransactionID))</p>
                        </div>
                    </div>
                    <div class="boxbank">
                        <div class="menu2step" style="width:unset; margin-top:5rem;">
                            <h3 class="" style="text-align:center !important;">SMS DOĞRULAMA</h3>
                        </div>
                    </div>


                    <form id="frmProfile" method="post" asp-area="panel" asp-antiforgery="true" style="width:100%"
                          data-ajax="true" data-ajax-method="POST"
                          data-ajax-begin="onBegin" data-ajax-failure="onFailure" data-ajax-success="onSuccess">

                        <div class="form" style="width:100%">

                            <div class="arrive2phonenull">
                                <p class="maintext">TELEFON NO:</p>
                            </div>
                            <div class="arrive2phoneinp">
                                <input class="boldsinp" placeholder="Telefon numaranızı giriniz" asp-for="entity.Phone" readonly="readonly"></p>
                            </div>
                            <div class="arrive2phonenull">
                                <p class="maintext">TC KİMLİK NO:</p>
                            </div>
                            <div class="arrive2phoneinp">
                                <input class="boldsinp" placeholder="TC Kimlik numaranızı giriniz" name="IdentityNr" maxlength="11"></p>
                            </div>
                            <div class="arrive2phonenull">
                                <p class="maintext">AD SOYAD:</p>
                            </div>
                            <div class="arrive2phoneinp">
                                <input class="boldsinp" placeholder="AD Soyad Giriniz giriniz" name="Name" maxlength="50"></p>
                            </div>
                            <div class="arrive2phonenull">
                                <p class="maintext">EMAİL:</p>
                            </div>
                            <div class="arrive2phoneinp">
                                <input class="boldsinp" placeholder="E-mail giriniz" name="Email" maxlength="50"></p>
                            </div>
                            <div class="arrive2phonenull">
                                <p class="maintext">DOĞUM YILI:</p>
                            </div>
                            <div class="arrive2phoneinp">
                                <input class="boldsinp" placeholder="Doğum Yılı giriniz" name="BirthYear" maxlength="4"></p>
                            </div>
                            <div class="formend">
                                <div class="confirm">
                                    <input type="checkbox" id="chkConfirm" />
                                    <label for="chkConfirm">Girmiş olduğum bilgileri kontrol ettim onaylıyorum</label>
                                </div>
                                <div class="confirm">
                                    <button type="submit" id="btnSubmit" disabled="disabled">
                                        <i class="fa-solid fa-paper-plane"></i> DOĞRULA</a>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!---------------kayit END------------------>
            </div>

            <div class="boxfooter">
                <div class="boxlast">
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/4.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/13.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/8.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/10.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/9.png" alt="">
                    </div>
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/7.png" alt="">
                    </div>


                    
                    <div class="trademark">
                        <img src="~/areas/panel/img/paymentnotification/14.webp" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/3.4.0/imask.min.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/animation.js"></script>
    <script src="~/areas/panel/js/views/paymentnotification/app.js"></script>

    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery-validate.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/jquery/jquery-unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/bootstrap/bootstrap-bundle.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/fontawesome/font-awesome.all.min.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/sweetalert/sweetalert2.all.min.js"></script>
    <script type="text/javascript" src="~/areas/panel/js/views/paymentnotification/profile.js?v.1.0"></script>

</body>
</html>