@model PaymentTransferPoolDescriptionControl

@{
    ViewData["Title"] = "Ödeme Havuzu Kontrol Kelimeleri";
}

@section css {
    <link rel="stylesheet" href="~/css/select2/select2.css" />
    <link rel="stylesheet" href="~/css/datatables/dataTables-bootstrap5.css" />
    <link rel="stylesheet" href="~/css/jquery/jquery-ui.css" />
}

<div class="row">
    <div class="col-lg-12">

        <div class="card border-custom">
            <div class="card-body table-responsive">
                <div class="row">
                    <form asp-controller="PaymentTransferPoolDescriptionControl" asp-action="Save" asp-antiforgery="true" id="frmDef"
                          data-ajax="true" data-ajax-method="POST"
                          data-ajax-begin="onBegin" data-ajax-failure="onFailure"
                          data-ajax-success="onSuccess" data-ajax-complete="onComplete">


                        <div class="row border-bottom">
                            <div class="col-lg-2"><label class="form-label"><span style="color:red">* </span>Gönderici Adı / Kelime:</label></div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" asp-for="Name" />
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-lg-2"><label class="form-label"><span style="color:red">* </span>Kart No:</label></div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" asp-for="CardNumber"  />
                            </div>
                        </div>

                        <div class="row border-bottom">
                            <div class="col-lg-2"><label class="form-label"><span style="color:red">* </span>Telefon:</label></div>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" asp-for="Phone" />
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-lg-1 offset-lg-11">
                                <div class="d-grid">
                                    <button type="submit" class="btn btn-custom">Ekle</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2">
    <div class="col-lg-12">
        <div class="card border-1 border-custom">
            <div class="card-header bg-custom text-white">Banka Açıklama Alanı Kontrol Edilecek Kelimeler</div>
            <div class="card-body table-responsive">
                <table id="Table" class="table table-bordered table-hover">
                    <thead>
                        <tr class="bg-custom text-white">
                            <th class="col-1 text-center">Oluşturulma Tarihi</th>
                            <th class="col-1 text-center">Oluşturan</th>
                            <th class="col-3 text-center">Gönderici Adı / Kelime</th>
                            <th class="col-3 text-center">Kart No</th>
                            <th class="col-3 text-center">Telefon</th>
                            <th class="col-1 text-center">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section js {
    <script src="~/js/select2/select2.js"></script>
    <script src="~/js/datatables/dataTables-jquery.js"></script>
    <script src="~/js/datatables/dataTables-bootstrap5.js"></script>
    <script src="~/js/jquery/jquery-ui.js"></script>
    <script src="~/js/xlsx/xlsx.full.min.js"></script>
    <script src="~/js/views/paymenttransferpooldescriptioncontrol/index.js"></script>
    <script src="~/js/jquery/jquery-validate.js"></script>
    <script src="~/js/jquery/jquery-additional-methods.js"></script>
    <script src="~/js/jquery/jquery-unobtrusive-ajax.js"></script>
}